h1{
    margin-bottom: 50px;
}

hr{
    margin-top: 70px;
}

.allproblems-area{
    margin-top: 60px;
}

.card-deck-1,.card-deck-2{
    margin-bottom: 30px !important;
}

.card{
    min-width: 300px;
}

.progress{
    margin-bottom: 30px;
    height: 30px;
}

.title{
    margin-bottom: 20px;
}

