.talk-content{
    clear: both;
    text-align: left;
    margin: auto;
    text-indent: 40px;
    line-height: 1.7;
    width: 100%;
}

.talk-content h1, .talk-content h2, .talk-content h3{
    font-size: 20px;
}


.talk-footer{
    margin-left: 0;
    text-align: left;
}

.talk-footer div{
    display: inline-block;
}

.delete{
    color: red;
}

.delete:hover{
    cursor: pointer;
}

.display-replies{
    text-align: left;
}

.display-replies h1, .display-replies h2, .display-replies h3{
    font-size: 20px;
    font-weight: bolder;
}

.display-replies h4, .display-replies h5, .display-replies h6{
    font-size: 18px;
    font-weight: bold;
}

.display-reply-content{
    background: rgb(245,245,245);
    padding: 15px 15px 2px 40px;
    margin: 20px auto 0 auto;
    border-radius: 20px;
}

.level-number{
    color: #f08a5d;
    float: right;
}

.profile{
    display: inline;
    clear: both;
}

.post-time{
    color: silver;
    margin: 5px auto 20px 5px;
    display: inline-block;
}
