.navbar{
    margin-bottom: 5%;
    background: #151965;
}
.navbar-brand:hover{
    cursor: pointer;
}
.nav-link{
    color: #edf2f7;
}
.input-sm{
    margin-top: 5px;
    margin-bottom: 4px;
    height: 30px;
}

