
.index-poster {
    padding: 8% 10% 8% 10%;
    background-color: #151965;
    margin-top: -5%;
    margin-bottom: 5%;
}

.index-poster-left-container h1{
    font-family: 'Fredoka One', cursive;
    color: #f1f3f8;
    font-size: 83px;
}

.index-poster-left-container h4{
    font-family: 'Lato', sans-serif;
    color: #f1f3f8;
}

.index-poster-right-container img{
    transform: rotate(10deg) translateX(50px);
    width: 90%;
}


.jumbotron{
    background: #f1f3f8;
}

.lead{
    margin-top: 2.5%;
}

.section-img{
    height: 80px;
    margin: 40px auto 20px auto;
}

.section-title{
    margin-bottom: 30px;
}

.section-text{
    line-height: 1.8;
}



