body{
    background-color: #f6f6f6;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.51px;
}

p{
    font-size: 17px;
}

a,a:hover{
    text-decoration: none;
}

h1:after,
h2:after{
    border:none;
}

hr {
    text-align: center;
    border: none;
}

hr:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #eee;
    margin: 0 15px;
}

hr:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #eee;
    margin: 0 15px;
}

.main {
    width: 80%;
    text-align: center;
    padding: 5%;
    margin: auto;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50px;
    -webkit-box-shadow: 0 0 10px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 10px rgba(202, 203, 204, .5);
    position: relative;
}

/*always clear the corresponding container's float using clear:left*/
#previous{
    float: left;
}

input.error {
    border: 1px solid red;
}

label.error {
    background: url("../imgs/site/incorrect.png") no-repeat 0 5px;
    text-indent: 25px;
    color: red;
}


