/*css for sign up and sign in page*/
body{
    background-image: url("../imgs/site/signupbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0;
}
.sign-container{
    width: 40%;
    min-width: 450px;
    margin: 10% auto 10% auto;
    padding: 4% 1% 3% 1%;
    background-color:rgba(248,245,255,0.72);
    border-radius: 25px;
}
.sign-container a{
    text-decoration: none;
}
.sign-header{
    text-align: center;
    margin-bottom: 2%;
}
.vercode{
    width: 20%;
}
.codeimg{
    float: right;
    width: 200px;
    height: 40px;
    transform: translateY(-98%);
    border-radius: 3px;
    /*border: inset 1px;*/
}


