body{
    margin-top: 50px !important;
    margin-left: 0 !important;
}
h3,h6{
    text-align: center;
    margin: 20px auto 10px auto;
}
a{
    margin: auto;
    transform: translateY(-200%);
}

.solution-container{
    width: 85%;
    padding: 5%;
    margin: auto;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50px;
    -webkit-box-shadow: 0 0 10px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 10px rgba(202, 203, 204, .5);
    position: relative;
}
