.search-container{
    background-color: #590995;
    color: white;
}
.post-container{
    background-color: #ff5722;
    color: white;
}
.topics-container{
    background-color: #184d47;
    color: white;
}

